img{
  height: 40px;
  padding: 0.5%;
}

.App-header {
  background-color: rgb(5, 5, 5);
  height: 50px;
  color: white;
  display: flex;
}

header nav{
  padding-left: 15%;
  padding-top: 1%;
}

header a{
  text-decoration: none;
  font-family: Orchestra of Strings Regular;
  letter-spacing: 7px; 
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px; 
  padding-left: 5%;
  padding-right: 2%; 
}
