.banner{
    background-image: url(imgfundo.png);
    padding-top: 100px;
    background-size: cover;
    display: block;
    justify-content: flex-end;
    padding: 30px 100px;
    min-height: 83vh;
    align-items: center;
}

#logo{
    padding-top: 30px;
    padding-left: 140px;
    width: 850px;
    height: 120px;
    
}

#seta{
    padding-left: 550px;
    width: 80px;
    height: 80px;
}

.banner p{
    font-family: Orchestra of Strings Regular;
    font: bold;
    font-size: 25pt;
    color: white;
    align-content: center;
    letter-spacing: 6px;
    width: 55%;
    text-align: center;
    padding-left: 20%;
}
