.Eventos h2{
    font-family: Orchestra of Strings Regular;
    font-size: 30pt;
    letter-spacing: 15px;
    align-content: center;
    padding-left: 580px;
    display: flex;
    margin: 10px;
}

.Eventos h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.Eventos p{
    align-content: center;
    font-family: Orchestra of Strings Regular;
    font-style: unset;
    font-size: 18pt;
    color: white;
    background: #8a2b82;
    
}

.eventos{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

