.Sobre h1{
    font-family: Orchestra of Strings Regular;
    font-size: 35pt;
    letter-spacing: 15px;
    align-content: center;
    padding-left: 580px;
    display: flex;
    margin: 0px;
}

#p1{
    align-content: center;
    justify-content: center;
    padding-left: 180px;
    width: 995px;
    padding-top: 40px;
       /* background-image: url(./.../grade.png); */
}

.Sobre p{
    font-family: Bahnschrift;
    font-size: 18pt;
    letter-spacing: 1px;
    
}

